/*Slider CSS*/

.slide-viewer {
	position: relative;
	overflow: hidden;
	height: 300px;
}

.slide-group {
	width: 50%;
	height: 100%;
	position: relative;
}

.slider {
	width: 50%;
	height: 100%;
	display: none;
	position: absolute;
}

.slide:first-child {
	display: block;
}

/* ------------- Mobile (Screen Sizes) --------------- */
